:root {
  --max: 900px;
}

svg {
  height: 1em;
  vertical-align: -0.125em;
  pointer-events: none;
}

svg path {
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.content-wrapper {
  max-width: var(--max);
  margin: auto;
}